html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

/*inicio*/

#inicio {
    background: linear-gradient(rgb(231, 229, 108),rgb(208, 205, 38), rgb(192, 189, 10) );
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#inicio .contenido header {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#inicio .contenido header .contenido-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#inicio .contenido header .contenido-header a {
    text-align: center;
}

#inicio .contenido header .contenido-header ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#inicio .contenido header .contenido-header ul a {
    text-decoration: none;
    color: aliceblue;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}

#inicio .contenido header .contenido-header ul a:hover {
    color: rgb(103, 35, 182);
}

#inicio .contenido header .contenido-header .redes a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}

#inicio .contenido header .contenido-header .redes a:hover {
    color: blueviolet;
}

#inicio .contenido .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    columns: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio .contenido .presentacion .bienvenida {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#inicio .contenido .presentacion h2 {
    font-size: 45px;
    text-align: center;
}

#inicio .contenido .presentacion h2 span {
    font-size: 35px;
    color: blueviolet;
}

#inicio .contenido .presentacion .descripcion {
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
}

#inicio .contenido .presentacion a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #000000;
    border-radius: 50px;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

#inicio .contenido .presentacion a:hover {
    background-color: blueviolet;
}

#icono-nav {
    color: #fff;
    display: none;
}

/*sobre mi*/

#acerca_de {
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: black;
    display: flex;
}

#acerca_de .container .contenedor-foto {
    max-width: 400px;
    margin-right: 80px;
}

#acerca_de .container .contenedor-foto img{
    padding: 20px;
    width: 100%;
    border-radius: 20%;
    background-color: #ffe600c2;
    min-width: 150px;
    margin-bottom: 30px;
}

#acerca_de .container .sobreMi {
    margin: 0px 40px;
}

#acerca_de .container .sobreMi .titulo-seccion {
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: blueviolet;
}

#acerca_de .container .sobreMi h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0px;
    letter-spacing: 2px;
}

#acerca_de .sobreMi h2 span {
    color: blueviolet;
}

#acerca_de .sobreMi h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#acerca_de .sobreMi p {
    font-size: 14px;
    line-height: 25px;
    color: gray;
    margin-bottom: 12px;
}

#acerca_de .sobreMi a {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid;
    margin-top: 30px;
    transition: .5s;
}

#acerca_de .sobreMi a:hover {
    background-color: gold;
}

/*experiencia*/

#experiencia {
    background-color: #292929;
}